@{
    ViewBag.Title = "Vieje en autobuses ADO";
}
 <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>@ViewBag.Message</h1>
        <p class="lead">Sistema adminisrador de itinerarios, corridas y autobuses de ADO</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Ver itinerarios</a></p>
      </div>
        
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4 text-center">
          <h2>Corridas</h2>
          <p><a class="btn btn-primary" href="#" role="button">Ver más &raquo;</a></p>
        </div>
        <div class="col-lg-4 text-center">
          <h2>Autobuses</h2>
          <p><a class="btn btn-primary" href="#" role="button">Ver más &raquo;</a></p>
       </div>
        <div class="col-lg-4 text-center">
          <h2>Boletos</h2>
          <p><a class="btn btn-primary" href="#" role="button">Ver más &raquo;</a></p>
        </div>
      </div>
